body {
	padding: 0;
	margin: 0;
	background: #222222;
}

.logo {
	width: 800px;
	margin: 0 auto;
	background: #121212;
	border-radius: 10px;
	margin-top: 10px;
}

.lgoa {
	width: 450px;
	margin: 0 auto;
	display: flex;
	padding: 10px;
	align-items: center;
}

.name-site {
	color: white;
	font-size: 25px;
	font-family: 'Russo One', sans-serif;
	margin-left: 10px;
}

#logo {
	width: 60px;
}

.menu {
	position: relative;
}

.menu-l {
	display: none;
  position: absolute;
  width: 150px;
  box-shadow: 0 0 1px black;
  padding: 5px;
  background: white;
}

.menu a {
	color: #0D1214;
	padding: 5px;
	text-decoration: none;
	font-size: 25px;
	display: block;
	transition: 0.5s;
	font-family: 'Yanone Kaffeesatz', sans-serif;
}

#href:hover {
	color: black;
	background: #B8B8B8;
}
.menu:hover .menu-l {
	display: block;
}