body {
	font-family: 'Russo One', sans-serif;
}

.site_teg {
	width: 500px;
	margin: 0 auto;
}

.text_teg {
	color: #282828;
	font-size: 40px;
	text-align: right;
}

.minecraft {
	color: #69BF7B;
}

#photo_1 {
	width: 300px;
	margin-left: 0px;
	display: block;
}

.p_photo {
	width: 35px;
	background: #95DAA3;
	box-shadow: 0 0 15px #95DAA3;
	border-radius: 20px;
	padding: 10px;
}

.price {
	width: 505px;
	margin: 0 auto;
	margin-top: 100px;
}

.price_acc {
	color: #282828;
	font-size: 23px;
	margin-left: 3px;
	font-family: 'JetBrains Mono', monospace;

}

.p_1 {
	display: inline-block;
}

.p_2 {
	display: inline-block;
	margin-left: 120px;
}


.p_desp {
	color: #282828;
	font-size: 20px;
	margin-left: 2px;
	font-family: 'JetBrains Mono', monospace;
}

.trebovaniya {
	color: #282828;
	font-size: 30px;
	width: 500px;
	margin: 0 auto;
	font-family: 'JetBrains Mono', monospace;
	text-align: center;
	margin-top: 50px;
	margin-bottom: 50px;
}

.trebovaniya_oss {
	width: 1000px;
	margin-top: 50px;
	margin-bottom: 50px;
	margin: 0 auto;
	font-family: 'JetBrains Mono', monospace;
}

.t_n {
	color: #282828;
	width: 25px;
	background: #55C36C;
	box-shadow: 0 0 15px #55C36C;
	border-radius: 100px;
	padding: 10px;
	text-align: center;
	margin-bottom: 20px;
}

.trebovaniya_1 {
	color: #282828;
	font-size: 20px;
	display: inline-block;
	margin-left: 20px;
}

.trebovaniya_2 {
	color: #282828;
	font-size: 20px;
	display: inline-block;
	margin-left: 20px;
}

.trebovaniya_3 {
	color: #282828;
	font-size: 20px;
	display: inline-block;
	margin-left: 20px;
}

.sale {
	font-size: 20px;
	background: #55C36C;
	width: 100px;
	font-family: 'JetBrains Mono', monospace;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 0 15px #55C36C;
	margin: 0 auto;
	margin-top: 50px;
	margin-bottom: 50px;
}

#sale_button {
	text-decoration: none;
	color: #282828;
	transition: 0.2s;
}

#sale_button:hover {
	color: #F6F6F6;
	text-shadow: 0 0 5px black;
}

@media screen and (max-width : 480px) {
	.site_teg {
		width: 300px;
		margin: 0 auto;
	}

	.trebovaniya {
		width: 300px;
	}

	.trebovaniya_oss {
		width: 300px;
	}

	.trebovaniya_1 {
		display: block;
		margin-bottom: 30px;
	}

	.trebovaniya_2 {
		display: block;
		margin-bottom: 30px;
	}

	.trebovaniya_3 {
		display: block;
		margin-bottom: 30px;
	}

	#photo_1 {
		width: 170px;
	}

	.text_teg {
		font-size: 30px;
	}

	.price {
		width: 300px;
		display: flex;
	}

	.p1 {
		display: inline-block;
	}

	.p2 {
		display: inline-block;
		margin-left: 1px;
	}

}